<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>
<body>
	<h1>Dream</h1>
	<h2>Believe</h2>
	<%= name+" "+ age %>
</body>