<!DOCTYPE html>
<html>
<head>
	<title>allaboutfood</title>
	<link rel="stylesheet" type="text/css" href="homep.css">
</head>
<body>
<h1>allaboutfood</h1>
<h2>Come let us talk the universal language of food!</h2>
<div></div>
<p>There is no greater love than love for food. This is the place for all the people out there who love and appreciate good food. You can find everything from recipes to restaurants in here.Let's spread great food. Let's add soul to food.:)</p>
<ul>
<li>Does your heart fill at the thought of good food?</li>
<li>Do you wonder how some people create wonders with ingredients?</li>
<li>Do you love to check out new fooding places in the area?</li>
<li>Would you like to share your travel stories on food?</li>
</ul>
<p>
Then you've found the right people!<br>
Join our community!!<br><br>

</p>
<a href="http://localhost:3000/signup">SIGN UP</a><br><br><a href="http://localhost:3000/login">LOGIN</a>
<br>
<b>Follow us on</b>
<a href="https://www.instagram.com/?hl=en"><img src="insta.jpg" height="50px" width="50px"></a>
<a href="https://www.facebook.com/"><img src="fb.png" height="50px" width="50px"></a>

</body>

</html>
