<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body >
<div id="k"><h1 align="center">TRIVANDRUM SOCIAL NETWORK</h1></div>
 <div align="center" id="a"><a href="/login"><b>LOGIN</b></a></div>
<div align="center" id="b"><a href="/signup"><b>SIGNUP</b></a></div>
</body>
</html>