<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body style="background-image:url(mount.jpg);background-size: contain;background-repeat: no-repeat;background-position: center;">
<div class="contain" align="right" style="background-color:rgba(1,1,1,0.5);font-size: 20px;border-color: black;border-style: dashed;border-width: 3px;margin: 200px;">
<h1 style="color:white;">LOGIN</h1><form action="/loginSubmit" method="get">
<div style="color:white;">USERNAME<input type="text" name="uname" style="background-color: rgba(1,1,1,0.5);"></div><br><br>
<div style="color:white;">PASSWORD<input type="password" name="pass" style="background-color: rgba(1,1,1,0.5);"></div><br><br><br>
<input type="submit"></form>
</div>

</body>
</html>