<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body style="background-image:url(house.jpg);background-size: contain;background-repeat: no-repeat;background-position: center;">
<div align="right" style="background-color:rgba(1,1,1,0.5);font-size: 20px;border-color: black;border-style: dashed;border-width: 3px;margin: 200px;"><h1 style="color:white;">SIGNUP</h1><form action="/signupSubmit" method="get">
<div style="color:white;">NAME<input type="text" name="nam" style="background-color: rgba(1,1,1,0.5);"></div><br>
<div style="color:white;">EMAIL<input type="email" name="em" style="background-color: rgba(1,1,1,0.5);"></div><br>
<div style="color:white;">ENTER PASSWORD<input type="password" name="pwd1" style="background-color: rgba(1,1,1,0.5);"></div><br>
<div style="color:white;">CONFIRM PASSWORD<input type="password" name="pwd2" style="background-color: rgba(1,1,1,0.5);"></div><br>
<input type="submit"></form></div>


</body>
</html>