body{
	background-image: url('gilly.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    
}
#a{
	margin-top: 200px;
	height: 200px;
	background-color:rgba(255, 255,255,0.5);
	margin-left: 40px; 
	padding-left: 0px;
}
#b{
	margin-top: 200px;
	height:200px;
	background-color:rgba(255, 255, 51,0.5);
	margin-right: 40px;
}